ALLOWED_HOSTS=
BREVO_API_KEY=
BREVO_MOCK_MODE=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
CELERY_BROKER_URL=
CELERY_TASK_ALWAYS_EAGER="True"
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME="dwn6p3qmd"
CORS_ALLOWED_ORIGINS="https://test1-production-9cf1.up.railway.app"
CSRF_TRUSTED_ORIGINS="https://test1-production-9cf1.up.railway.app"
DB_NAME=mbo_portal_v2
DB_USER=postgres
DB_PASSWORD=devon
DB_HOST=localhost
DB_PORT=5432
DEBUG="False"
OTP_MAX_ATTEMPTS="5"
OTP_RESEND_COOLDOWN_SECONDS="60"
OTP_TTL_SECONDS="600"
PAYSTACK_MOCK_MODE="True"
PAYSTACK_SECRET_KEY=
PORTAL_URL="https://test1-production-9cf1.up.railway.app"
SECRET_KEY=
JWT_COOKIE_SAMESITE="None"
JWT_COOKIE_SECURE="True"
SECURE_SSL_REDIRECT=False
ENVIRONMENT=